    body{
        margin: 0;
        padding:0;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(to bottom, #b3e0ff, #ffffff);
        background-repeat: no-repeat
    }
   
        .first_Parent{
            display: flex;
            flex-direction: column;
            
            
            justify-content: center;
            align-items: center;
            margin-top: 2%;
           
        }

        .first_child {
          
            display: flex;
            justify-content: space-between;
            align-items: center;
            color:#009CDE;
            width: 70%;
            gap:1rem;         
            font-weight: 700;
            font-size: 1.3rem;
            padding-top: 10px;
            padding-bottom: 20px;
            border-bottom: 2px solid gray;
            text-align: center;

            
          }
        .toggel_Button{
         
            display: flex;
            justify-content: space-around;
        }
        .input_Parent{
            
            display: flex;
             justify-content: center; 
            gap: 2rem;
            margin-top: 2rem;
        }
        .edit_Delete_Button{
         
      
            display: flex;
            gap: 10px;
           
        }
        .main_Title{
         width:90%;
         color: #212121;
          
        }
        .completed {
            color: green; 
            text-decoration: line-through; 
          }
          

        .task_Button{
            font-size: 20px;
            font-weight:bolder;
            border-radius: 10px;
            border:1px solid gray;
       
            width: 19%;
            cursor: pointer;
            color: #009CDE;
            background-color: white;
          

           }
        .Completed_Task{
            font-size: 20px;
            font-weight:bolder;
            border-radius: 10px;
            border:1px solid gray;
            
            width: 19%;
            height: 60px;
            cursor: pointer;
            color: #009CDE;
            background-color: white;
        }
        .Add_Task_Input{
            width:48%;
            height: 3rem;
            text-align: center;
           
            border-radius: 15px;
            font-size: larger;
           
        }
        .Add_Task_Button{
            width:19%;
            color: #009CDE;
            background-color: white;
            cursor: pointer;
            font-weight:bolder;
            
            border-radius: 15px;
            font-size: 1.2rem;
         
        }
        .button{
            width:110px;
            
            margin-bottom: 5px;
            background-color:white;
            cursor: pointer;

        }
        .edit_Button,
        .delete_Button {
          font-size: 25px;
          color: #009CDE;
       
        }
        .delete_Button{
            color: black;
        }
      
/* Uisecond Component CSS */

.second_Parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width:60%;
  }
  
  .empty-state h3 {
    margin-bottom: 10px;
    color: #555;
  }
  
  .search-animation {
    margin-top: 20px;
    font-size: 2em;
    color: #666;
    animation: bounce 1s infinite alternate;
  }
  
  .ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .ul li {
    margin-top: 30px;
    border: 2px solid #ccc;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    width:100%;
  }

  @keyframes bounce {
    to {
      transform: translateY(-10px);
    }
  }
  



@media screen and (max-width: 590px) {
    .first_Parent {
      width: 90%;
      margin: 5% auto;
    }
  
    .first_child {
      width: 100%;
    }
  
    .input_Parent {
      flex-direction: column;
      align-items: center;
    }
  
    .task_Button,
    .Completed_Task,
    .Add_Task_Input,
    .Add_Task_Button {
      width: 100%;
    }
  }
  